@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to OpenAQ Test</h1>
    <p>
        Follow this link to see measured data
        @Html.ActionLink("Air Quality Measurements", "Index", "AirQuality")
    </p>
</div>
